extends layouts/main

block title
  title Blockchain Information - blockchain.wtf

block description
  meta(name='description', content='Information about distributed ledger technology and how it will impact your life.')

block content
  div.workspace
    div.menu.color
      div
        ul
          li
            div.menu-item-block.color#home
              div.menu-item.color
                i.fa.fa-home.fa-lg.fa-fw
              p Home
          li
            div.menu-item-block.color#portfolio
              div.menu-item.color
                i.fa.fa-file-text.fa-lg.fa-fw
              p Glossary
          li
            div.menu-item-block.color#resume
              div.menu-item.color
                i.fa.fa-camera-retro.fa-lg.fa-fw
              p Resources
          li
            div.menu-item-block.color#profile
              div.menu-item.color
                i.fa.fa-user.fa-lg.fa-fw
              p Profile
    div.content
      div#bb-bookblock.bb-bookblock

        include pagecover

        include pageglossary

        include pageresources

        include pageprofile




