div.bb-item
  div#resume-page.pagearea.resume
    div.top.color-text
      p
        i.fa.fa-camera-retro.color-text &nbsp;
        span Resources
    div.bottom
      ul
        li
          h3
            i.fa.fa-building.fa-fw
            span Online stores
            span.pull-right
              i.fa.fa-fw.fa-plus
          div
            ul.da-thumbs

              li
                a(href="slides/ethereum-pastpresentfuture.pdf")
                  img(src="images/thumbnails/ethereum-pastpresentfuture.jpg" alt="Ethereum - Past, Present, &amp; Future")
                  div
                    span Ethereum - Past, Present, &amp; Future
        li
          h3
            i.fa.fa-building.fa-fw
            span Exchanges
            span.pull-right
              i.fa.fa-fw.fa-plus
          div
            ul.da-thumbs

              li
                a(href="slides/ethereum-pastpresentfuture.pdf")
                  img(src="images/thumbnails/ethereum-pastpresentfuture.jpg" alt="Ethereum - Past, Present, &amp; Future")
                  div
                    span Ethereum - Past, Present, &amp; Future
        li
          h3
            i.fa.fa-building.fa-fw
            span Bitcoin
            span.pull-right
              i.fa.fa-fw.fa-plus
          div
            ul.da-thumbs

              li
                a(href="https://www.bitcoin.com")
                  img(src="images/thumbnails/ethereum-pastpresentfuture.jpg" alt="Ethereum - Past, Present, &amp; Future")
                  div
                    span Bitcoin.com
              li
                a(href="https://www.brighttalk.com/webcast/13689/196365")
                  img(src="images/thumbnails/brighttalk-blockchainlending.jpg" alt="BrightTALK panel - Blockchain in Lending")
                  div
                    span BrightTALK - Blockchain in Lending
              li
                a(href="slides/what-is-blockchain.pdf")
                  img(src="images/thumbnails/what-is-blockchain.jpg" alt="What is &ldquo; Blockchain&rdquo;?")
                  div
                    span What is &ldquo;Blockchain&rdquo;?
              li
                a(href="https://www.brighttalk.com/webcast/13689/193833")
                  img(src="images/thumbnails/brighttalk-panel.jpg" alt="BrightTALK panel - The Great Bitcoin Debate")
                  div
                    span BrightTALK - The Great Bitcoin Debate
              li
                a(href="slides/great-bitcoin-debate.pdf")
                  img(src="images/thumbnails/great-bitcoin-debate.png" alt="The Great Bitcoin Debate")
                  div
                    span The Great Bitcoin Debate

              li
                a(href="https://www.youtube.com/watch?v=HXNWhXuMNpw")
                  img(src="images/thumbnails/youtube-devcon1.jpg" alt="DEVCON1")
                  div
                    span DEVCON1
              li
                a(href="https://blog.ethereum.org/2014/08/18/building-decentralized-web/")
                  img(src="images/thumbnails/article-decentralized-web.jpg" alt="building the decentralized web")
                  div
                    span building the decentralized web
              li
                a(href="http://bitcoinmagazine.com/9867/ethereum-dapps-rise-new-internet/")
                  img(src="images/thumbnails/article-ethereumdappsnewinternet.jpg" alt="Ethereum, Dapps, and the rise of a new Internet")
                  div
                    span Ethereum, Dapps, and the rise of a new Internet
              li
                a(href="http://letstalkbitcoin.com/can-bitmessage-replace-email/")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="Can BitMessage Replace Email?")
                  div
                    span Can BitMessage Replace Email?

        li
          h3
            i.fa.fa-university.fa-fw
            span Ethereum
            span.pull-right
              i.fa.fa-fw.fa-plus
          div
            ul.da-thumbs
              li
                a(href="https://www.youtube.com/watch?v=oKeYTx5Kvao")
                  img(src="images/thumbnails/orlandodevs-meetup.jpg" alt="Orlando Devs meetup")
                  div
                    span OrlandoDevs meetup - 2016.03.03
              li
                a(href="slides/blockchains101.pdf")
                  img(src="images/thumbnails/slides-blockchains101.jpg" alt="Blockchains 101: Decentralisation for Developers")
                  div
                    span Blockchains for Developers
              li
                a(href="https://www.youtube.com/watch?v=2y4KHRH7uk8")
                  img(src="images/thumbnails/youtube-davidseaman.jpg" alt="Chat with David Seaman")
                  div
                    span Chat with David Seaman
              li
                a(href="https://www.youtube.com/watch?v=UWnAtyrFHc0")
                  img(src="images/thumbnails/youtube-thedailydecrypt.jpg" alt="the Daily Decrypt")
                  div
                    span The Daily Decrypt
              li
                a(href="slides/ethereum-in-the-enterprise.pdf")
                  img(src="images/thumbnails/slides-enterprise.jpg" alt="Ethereum in the Enterprise Environment")
                  div
                    span Ethereum as an Enterprise Tool
              li
        li
          h3
            i.fa.fa-university.fa-fw
            span Dash
            span.pull-right
              i.fa.fa-fw.fa-plus
          div
            ul.da-thumbs

              li
                a(href="https://www.youtube.com/watch?v=Swdb-Z_4JmI")
                  img(src="images/thumbnails/youtube-ltbdao.jpg" alt="Let's Talk Bitcoin - TheDAO")
                  div
                    span Lets Talk Bitcoin - TheDAO


              li
                a(href="https://www.youtube.com/watch?v=Swdb-Z_4JmI")
                  img(src="images/thumbnails/youtube-ltbdao.jpg" alt="Let's Talk Bitcoin - TheDAO")
                  div
                    span Lets Talk Bitcoin - TheDAO

              li
                a(href="https://www.youtube.com/watch?v=fp7-ZBzJ9XE")
                  img(src="images/thumbnails/glimpseofthefuture.jpg" alt="Ethereum NZ - Improving the World Through Decentrilization")
                  div
                    span Improving the World Through Decentrilization

              li
                a(href="https://coindesk.wistia.com/medias/g9ev7z3ijx")
                  img(src="images/thumbnails/consensus2016-smartcontracts.jpg" alt="Consensus 2016 - Smart Contract Panel")
                  div
                    span Unlocking the Power of Smart Contracts

              li
                a(href="https://www.youtube.com/watch?v=NSIs_n9UylA")
                  img(src="images/thumbnails/atlantameetup-20160427.jpg" alt="Atlanta Bitcoin Meetup - Ethereum Intro")
                  div
                    span Atlanta Bitcoin Meetup - 2016.04.27
              li
                a(href="https://www.youtube.com/watch?v=abm9u5aomF0")
                  img(src="images/thumbnails/zurichmeetup-20160419.jpg" alt="Zurich Ethereum Meetup - The Future of Ethereum")
                  div
                    span Zurich Ethereum Meetup - 2016.04.19
