div.bb-item
  div#page-cover
    div.socials
      div
        a(href='https://www.instagram.com/blockchainwtf/')
          i.fa.fa-instagram.fa-2x.fa-fw
      div
        a(href='https://twitter.com/BlockchainWTF')
          i.fa.fa-twitter.fa-2x.fa-fw
      div
        a(href='https://www.facebook.com/BlockchainWTF-402533166776310/')
          i.fa.fa-facebook.fa-2x.fa-fw
      div
        a(href='https://www.youtube.com/channel/UCKENI1wZKvZFjtgWGOq2pCQ')
          i.fa.fa-youtube.fa-2x.fa-fw
      //- div
      //-   a(href='mailto:info@blockchain.wtf')
      //-     i.fa.fa-envelope.fa-2x.fa-fw
