.workspace>.content .pagearea.resume>div.bottom ul li div ul li dl dt {
    font-weight: bold;
    /*font-size: 150%;*/
    margin-bottom: 1ex;
}
.workspace>.content .pagearea.resume>div.bottom ul li div ul li dl dd {
  /*font-size: 110%;*/
}

#portfolio-page dt {
    font-weight: bold;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

#portfolio-page dd {
    margin-top: 1ex;
    margin-bottom: 1ex;
    text-align: justify;
}

#portfolio-page dl {
    border: 1px dashed silver;
    padding: 1ex;
    margin: 1ex;
}
.da-thumbs li {
    list-style-type: none;
    margin: 1ex;
}
.da-thumbs li a img {
    height: 200px;
    width: 200px;
    border: 1px solid silver;
}
#page-cover h1 {
    font-size: 72pt;
}
#page-cover h2 {
    font-size: 56pt;
    text-align: right;
}
