block title
  title Taylor Gerring
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='chrome=1')
meta(http-equiv='Cache-Control', content='no-cache, no-store, must-revalidate')
meta(http-equiv='Pragma', content='no-cache')
meta(http-equiv='Expires', content='0')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
block description
  meta(name='description', content='Blockchain Consulting Expert')
meta(name='robots' content='all')
meta(name='MSSmartTagsPreventParsing' content='true')
meta(http-equiv='imagetoolbar' content='false')

//- link(rel="icon",type='image/png',href="images/favicon.png?20141129")
//- link(rel="shortcut icon",type='image/x-icon',href="images/favicon.ico?20141129")


link(href='https://fonts.googleapis.com/css?family=Quicksand',rel='stylesheet',type='text/css')
link(href='https://fonts.googleapis.com/css?family=Pacifico',rel='stylesheet',type='text/css')

| <!-- inject:head:js --><!-- endinject -->

| <!-- inject:css --><!-- endinject -->
