div.bb-item
  div.bb-custom-side.coverside
    div#profile-cover
      div.info.color-text
        //- p.occupation Blockchain Specialist
  div#profile-page.bb-custom-side.pagearea.profile
    div.top.color-text
      p
        i.fa.fa-user.color-text &nbsp;
        span Profile
    div.bottom
      img.profileImage(src="images/unicorn_x4.png",alt="Blockchain Unicorn")
      
      div.info
        p.name Blockchain Unicorn
        p.occupation Educating the internet about blockchain!
