div.bb-item
  div#resume-page.pagearea.resume
    div.top.color-text
      p
        i.fa.fa-camera-retro.color-text &nbsp;
        span Resources
    div.bottom
      ul


        li
          h3
            i.fa.fa-building.fa-fw
            span Where can I spend bitcoin online?
            span.pull-right
              i.fa.fa-fw.fa-plus
          div
            ul.da-thumbs

              li
                a(href="https://www.overstock.com/bitcoin")
                  img(src="images/thumbnails/overstock400.png" alt="Overstock.com")
                  div
                    span Overstock (Furniture, clothing, jewelry &amp; more)
              li
                a(href="https://cheapair.com")
                  img(src="images/thumbnails/cheapair434.png" alt="CheapAir.com")
                  div
                    span Cheapair (Air travel)
              li
                a(href="http://www.expedia.com/Checkout/BitcoinTermsAndConditions")
                  img(src="images/thumbnails/expedia482.png" alt="Expedia.com")
                  div
                    span Expedia (Hotel reservations)
              li
                a(href="https://www.egifter.com/bitcoin/")
                  img(src="images/thumbnails/egifter464.png" alt="eGifter.com")
                  div
                    span eGifter (Gift cards)
              li
                a(href="https://www.namecheap.com")
                  img(src="images/thumbnails/namecheap488.png" alt="namecheap.com")
                  div
                    span Namecheap (Domain names, websites, SSL certificates)

        li
          h3
            i.fa.fa-building.fa-fw
            span Where to buy &amp; sell cryptocurrency?
            span.pull-right
              i.fa.fa-fw.fa-plus
          div
            ul.da-thumbs

              li
                a(href="https://coinbase.com")
                  img(src="images/thumbnails/coinbase325.png" alt="Coinbase")
                  div
                    span Coinbase (Buy Bitcoin and Ether in 33+ countries)
              li
                a(href="https://coinatmradar.com")
                  img(src="images/thumbnails/coinatmradar404.png" alt="Bitcoin ATM Map")
                  div
                    span Coin ATM Radar (Search for local ATMs around the world)

              li
                a(href="https://localbitcoins.com")
                  img(src="images/thumbnails/localbitcoins430.png" alt="LocalBitcoins.com")
                  div
                    span Local Bitcoins (Trade with someone locally)

              li
                a(href="https://shapeshift.io")
                  img(src="images/thumbnails/shapeshift458.png" alt="ShapeShift.io")
                  div
                    span ShapeShift (Trade any blockchain asset for any other)

        li
          h3
            i.fa.fa-university.fa-fw
            span Blockchain News, Vlogs &amp; Podcasts
            span.pull-right
              i.fa.fa-fw.fa-plus
          div
            ul.da-thumbs
              li
                a(href="https://www.youtube.com/channel/UCLnQ34ZBSjy2JQjeRudFEDw")
                  img(src="images/thumbnails/default.jpg" alt="YouTube: The Cryptoverse")
                  div
                    span The Cryptoverse (Vlog)
              li
                a(href="https://www.youtube.com/channel/UCdUSSt-IEUg2eq46rD7lu_g")
                  img(src="images/thumbnails/default.jpg" alt="YouTube: Crypt0")
                  div
                    span Crypt0 (Vlog)
              li
                a(href="https://epicenter.tv")
                  img(src="images/thumbnails/default.jpg" alt="Epicenter Podcast")
                  div
                    span Epicenter (Podcast)


        li
          h3
            i.fa.fa-building.fa-fw
            span Learn more about Bitcoin
            span.pull-right
              i.fa.fa-fw.fa-plus
          div
            ul.da-thumbs

              li
                a(href="https://www.bitcoin.com")
                  img(src="images/thumbnails/default.jpg" alt="Bitcoin.com")
                  div
                    span Bitcoin.com
              li
                a(href="https://bitcointalk.org")
                  img(src="images/thumbnails/default.jpg" alt="Bitcoin Forums")
                  div
                    span bitcointalk.org
              li
                a(href="https://www.reddit.com/r/btc/")
                  img(src="images/thumbnails/default.jpg" alt="Reddit /r/btc")
                  div
                    span reddit.com/r/btc
              li
                a(href="https://bitcoin.stackexchange.com")
                  img(src="images/thumbnails/default.jpg" alt="Bitcoin Stack Exchange")
                  div
                    span Bitcoin StackExchange
              li
                a(href="https://en.bitcoin.it/wiki/Main_Page")
                  img(src="images/thumbnails/default.jpg" alt="Bitcoin Wiki")
                  div
                    span Bitcoin Wiki

        li
          h3
            i.fa.fa-university.fa-fw
            span Learn more about Ethereum
            span.pull-right
              i.fa.fa-fw.fa-plus
          div
            ul.da-thumbs
              li
                a(href="https://ethereum.org")
                  img(src="images/thumbnails/default.jpg" alt="Ethereum")
                  div
                    span Ethereum Official Website
              li
                a(href="https://reddit.com/r/ethereum")
                  img(src="images/thumbnails/default.jpg" alt="Reddit /r/ethereum")
                  div
                    span Reddit /r/ethereum
              li
                a(href="https://ethstats.net")
                  img(src="images/thumbnails/default.jpg" alt="Ethereum Network Status")
                  div
                    span EthStats
              li
                a(href="https://ethereum.stackexchange.com")
                  img(src="images/thumbnails/default.jpg" alt="Ethereum Stack Exchange")
                  div
                    span Ethereum Stack Exchange
              li
                a(href="http://dapps.ethercasts.com")
                  img(src="images/thumbnails/default.jpg" alt="State of the Dapps")
                  div
                    span Dapp Listing
        //- li
        //-   h3
        //-     i.fa.fa-university.fa-fw
        //-     span Dash
        //-     span.pull-right
        //-       i.fa.fa-fw.fa-plus
        //-   div
        //-     ul.da-thumbs

        //-       li
        //-         a(href="#")
        //-           img(src="images/thumbnails/default.jpg" alt="Let's Talk Bitcoin - TheDAO")
        //-           div
        //-             span Lets Talk Bitcoin - TheDAO


        //-       li
        //-         a(href="#")
        //-           img(src="images/thumbnails/default.jpg" alt="Let's Talk Bitcoin - TheDAO")
        //-           div
        //-             span Lets Talk Bitcoin - TheDAO

