div.bb-item
  div#resume-page.pagearea.resume
    div.top.color-text
      p
        i.fa.fa-camera-retro.color-text &nbsp;
        span Resources
    div.bottom
      ul
        li
          h3
            i.fa.fa-building.fa-fw
            span Online stores
            span.pull-right
              i.fa.fa-fw.fa-plus
          div
            ul.da-thumbs

              li
                a(href="#")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="Link description")
                  div
                    span Ethereum - Past, Present, &amp; Future
        li
          h3
            i.fa.fa-building.fa-fw
            span Exchanges
            span.pull-right
              i.fa.fa-fw.fa-plus
          div
            ul.da-thumbs

              li
                a(href="#")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="Link description")
                  div
                    span Ethereum - Past, Present, &amp; Future
        li
          h3
            i.fa.fa-building.fa-fw
            span Bitcoin
            span.pull-right
              i.fa.fa-fw.fa-plus
          div
            ul.da-thumbs

              li
                a(href="https://www.bitcoin.com")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="Ethereum - Past, Present, &amp; Future")
                  div
                    span Bitcoin.com
              li
                a(href="#")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="BrightTALK panel - Blockchain in Lending")
                  div
                    span BrightTALK - Blockchain in Lending
              li
                a(href="#")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="What is &ldquo; Blockchain&rdquo;?")
                  div
                    span What is &ldquo;Blockchain&rdquo;?
              li
                a(href="#")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="BrightTALK panel - The Great Bitcoin Debate")
                  div
                    span BrightTALK - The Great Bitcoin Debate
              li
                a(href="#")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="The Great Bitcoin Debate")
                  div
                    span The Great Bitcoin Debate

              li
                a(href="#")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="DEVCON1")
                  div
                    span DEVCON1
              li
                a(href="#")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="building the decentralized web")
                  div
                    span building the decentralized web
              li
                a(href="#")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="Ethereum, Dapps, and the rise of a new Internet")
                  div
                    span Ethereum, Dapps, and the rise of a new Internet
              li
                a(href="#")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="Can BitMessage Replace Email?")
                  div
                    span Can BitMessage Replace Email?

        li
          h3
            i.fa.fa-university.fa-fw
            span Ethereum
            span.pull-right
              i.fa.fa-fw.fa-plus
          div
            ul.da-thumbs
              li
                a(href="#")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="the Daily Decrypt")
                  div
                    span The Daily Decrypt
              li
                a(href="#")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="Ethereum in the Enterprise Environment")
                  div
                    span Ethereum as an Enterprise Tool
        li
          h3
            i.fa.fa-university.fa-fw
            span Dash
            span.pull-right
              i.fa.fa-fw.fa-plus
          div
            ul.da-thumbs

              li
                a(href="#")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="Let's Talk Bitcoin - TheDAO")
                  div
                    span Lets Talk Bitcoin - TheDAO


              li
                a(href="#")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="Let's Talk Bitcoin - TheDAO")
                  div
                    span Lets Talk Bitcoin - TheDAO

              li
                a(href="#")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="Ethereum NZ - Improving the World Through Decentrilization")
                  div
                    span Improving the World Through Decentrilization

              li
                a(href="#")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="Consensus 2016 - Smart Contract Panel")
                  div
                    span Unlocking the Power of Smart Contracts

              li
                a(href="#")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="Atlanta Bitcoin Meetup - Ethereum Intro")
                  div
                    span Atlanta Bitcoin Meetup - 2016.04.27
              li
                a(href="#")
                  img(src="images/thumbnails/article-bitmessagereplaceemail.jpg" alt="Zurich Ethereum Meetup - The Future of Ethereum")
                  div
                    span Zurich Ethereum Meetup - 2016.04.19
